# HW01
In this assignment, you will practice basics of python, numpy and pandas.

Please follow the instructions below:

1. Write down your code between <br>
&nbsp;&nbsp;&nbsp;&nbsp; **\# BEGIN_YOUR_CODE**<br>
&nbsp;&nbsp;&nbsp;&nbsp; and<br>
&nbsp;&nbsp;&nbsp;&nbsp; **\# END_YOUR_CODE**.

2. Do not use **external libraries**. (i.e., Do not use any `import` in your code) <br>
   Your code will fail to execute and get **0 score** if you use them.

3. Rename this file to **[student_id].ipynb** (e.g. 20221234.ipynb) and submit it to PLMS. <br>
   There is **20% penalty** if you do not follow the submission format.

4. Submission more than one day late is not accepted.
   There is **50% penalty** for late submission up to one day.

In [12]:
import numpy as np
import pandas as pd

## Problem 1. Fibonacci [2 points]
Given `n`, implement function `fib(n)` that calculates `n`-th Fibonacci number. <br>
Assume `n` is a positive integer and `fib(0)`=0, `fib(1)`=1.

In [4]:
def fib(n):
    # BEGIN_YOUR_CODE
    if n==0:
        return 0
    if n==1:
        return 1
    else:
        return fib(n-1)+fib(n-2)
    raise Exception("Not implemented yet")
    # END_YOUR_CODE

## Problem 2. Maximum Word Count [2 points]
Given `filename`, implement function `max_word_count(filename)` that finds the most frequent words. <br>
You should open a file whose name is `filename` and return two things as a tuple: <br>
The first one is a set of words that occur the maximum number of times and the second one is their counts.

In [5]:
def max_word_count(filename):
    # BEGIN_YOUR_CODE
    file = open(filename, 'r')
    book = file.read()
    words = book.split()
    pair = {}
    for word in words:
        if word in pair:
            pair[word]+= 1
        else:
            pair[word] = 1
    max_word = set()
    max_count = 0
    for word in pair:
        if max_count<pair[word]:
            max_count = pair[word]
    for word in pair:
        if pair[word] == max_count:
            max_word.add(word)
    return max_word, max_count
    # END_YOUR_CODE

({'the'}, 32470)

## Problem 3. Average Price [3 points]
Given `cars`, implement function `average_prices(cars)` that returns a dictionary which contains each `brand` as a key and the average price of cars of that `brand` as a value.

In [ ]:
class car:  
    def __init__(self, args):
        brand, model, price =  args
        self.brand = brand
        self.model = model
        self.price = price

def average_prices(cars):
    # BEGIN_YOUR_CODE
    car_num = {}
    result = {}
    for temp in cars:
        if temp.brand not in result.keys():
            result[temp.brand] = temp.price
            car_num[temp.brand] = 1
        else:
            result[temp.brand] += temp.price
            car_num[temp.brand] += 1
    
    for tmp in result.keys():
        result[tmp] /= car_num[tmp]
    
    return result
    # END_YOUR_CODE

## Problem 4. Manhattan Distance [2 points]
Given two numpy arrays `arr1` and `arr2`, implement function `manhattan_distance` that calculates Manhattan distance between `arr1` and `arr2`. <br>
You need to utilize numpy library for this problem.

In [7]:
def manhattan_distance(arr1, arr2):
    # BEGIN_YOUR_CODE
    md = np.sum(abs(arr1-arr2))
    return md
    # END_YOUR_CODE

## Problem 5. CSV Modification [5 points]
Your goal is to modify given csv file with below constraints. <br>
The inputs are paths of the original data and modified data. <br>
You need to utilize pandas library for this problem.

### Constraints
- The requirements must be followed in the same order as given below.<br>
  (If not, you might attain different results although you followed everything correctly.)
1. The modified csv file should not contain columns `Cabin` and `Embarked`.
2. The modified csv file should not contain missing values. <br>
   All rows with a missing value needs to be dropped.
3. The modified csv file should only have `survived` = 1.
4. The column `Pclass` should be one hot encoding.
5. Value of `Age` should be `young` if it is smaller than 65 and `old` otherwise.

In [8]:
def titanic(original_file, modified_file):
    # BEGIN_YOUR_CODE
    df = pd.read_csv(original_file)
    
    df = df.drop(['Cabin','Embarked'],axis=1)
    df = df.dropna(axis=0)
    df = df[(df['Survived'] == 1)]
    df = pd.get_dummies(df,columns = ['Pclass'])
    
    df['Age'] = df['Age'].apply(lambda x: 'young' if x<65 else 'old')
    # END_YOUR_CODE
    df.to_csv(modified_file, index=False)

## Problem 6. Employee and Department [6 points]
For this problem, three csv files, `departments.csv`, `employees.csv` and `employees2.csv`, are given. <br>
There are 2 sub problems. <br>
You need to utilize pandas library for this problem.

### 6.a Employee Table [3 points]
Make employee table that has `name`, `salary` and `department_name` as columns. <br>
Note that each department has its own `department_id` and `department_name`.

In [18]:
def emp_table(dep, emp1, emp2):
    # BEGIN_YOUR_CODE
    df = pd.concat([pd.read_csv(emp1), pd.read_csv(emp2)], ignore_index=True)
    df = df.drop(['employee_id'], axis = 1)
    
    depart = pd.read_csv(dep)
    for i in range(0, len(df)):
        df.loc[i,'department_id'] = depart.loc[df.loc[i,'department_id']-1]['department_name']
    
    df.rename(columns = {'department_id': 'department_name'},inplace = True)
    # END_YOUR_CODE
    return df

     name department_name  salary
0    John           sales    5000
1   Allen      accounting    6000
2  Martin        research    3500
3    Mary           sales    5500
4   Smith        research    4500
5   Scott      accounting    7100
6     Tom           sales    4500
7   Admas        research    5000
8  Hunter        research    3000
9    King      accounting    5100

### 6.b Highest Salary [3 points]
Find an employee with the highest salary of each department. <br>
The output must be a dictionary which contains `department_name` as a key and an employee's `name` as a value. <br>
You can use `emp_table` in 6.a.

In [16]:
def highest_salary(dep, emp1, emp2):
    # BEGIN_YOUR_CODE
    result = {}
    max_sal = 0
    temp = emp_table(dep,emp1,emp2)
    for i in range(0,len(emp_table(dep,emp1,emp2))):
        if max_sal < temp.loc[i, 'salary']:
            max_sal = temp.loc[i, 'salary']
            max_emp = temp.loc[i, 'name']
            max_dep = temp.loc[i, 'department_name']
    
    result[max_dep] = max_emp
    
    return result
    # END_YOUR_CODE

{'accounting': 'Scott'}